# Module 12 Challenge
## Deliverable 2: Scrape and Analyze Mars Weather Data

In [ ]:
# Import relevant libraries
from splinter import Browser
from bs4 import BeautifulSoup
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
browser = Browser('chrome')

### Step 1: Visit the Website

Use automated browsing to visit the [Mars Temperature Data Site](https://static.bc-edx.com/data/web/mars_facts/temperature.html). Inspect the page to identify which elements to scrape.

   > **Hint** To identify which elements to scrape, you might want to inspect the page by using Chrome DevTools to discover whether the table contains usable classes.

In [ ]:
# Visit the website
# https://static.bc-edx.com/data/web/mars_facts/temperature.html
url = "https://static.bc-edx.com/data/web/mars_facts/temperature.html"
browser.visit(url)

### Step 2: Scrape the Table

Create a Beautiful Soup object and use it to scrape the data in the HTML table.

Note that this can also be achieved by using the Pandas `read_html` function. However, use Beautiful Soup here to continue sharpening your web scraping skills.

In [ ]:
# Create a Beautiful Soup Object
html = browser.html
bsobject = soup(html, 'html.parser')

In [ ]:
# Extract all rows of data
HTML_table = bsobject.find('tbody')
Rows = HTML_table.find_all('tr', class_='data-row')

### Step 3: Store the Data

Assemble the scraped data into a Pandas DataFrame. The columns should have the same headings as the table on the website. Hereâ€™s an explanation of the column headings:

* `id`: the identification number of a single transmission from the Curiosity rover
* `terrestrial_date`: the date on Earth
* `sol`: the number of elapsed sols (Martian days) since Curiosity landed on Mars
* `ls`: the solar longitude
* `month`: the Martian month
* `min_temp`: the minimum temperature, in Celsius, of a single Martian day (sol)
* `pressure`: The atmospheric pressure at Curiosity's location

In [ ]:
# Create an empty list
id = []
terrestrial_date = []
sol = []
ls = []
month = []
min_temp = []
pressure = []

# Loop through the scraped data to create a list of rows
for _ in Rows:
    id.append(_.find_all('td')[0].text)
    terrestrial_date.append(_.find_all('td')[1].text)
    sol.append(_.find_all('td')[2].text)
    ls.append(_.find_all('td')[3].text)
    month.append(_.find_all('td')[4].text)
    min_temp.append(_.find_all('td')[5].text)
    pressure.append(_.find_all('td')[6].text)

In [ ]:
# Create a Pandas DataFrame by using the list of rows and a list of the column names
Dict = {"ID" : id, 'Terrestrial_Date' : terrestrial_date, 'Sol' : sol, 'LS' : ls, 'Mars_Months' : month, 'Min_Temp' : min_temp, 'Pressure' : pressure}
Mars_pd = pd.DataFrame(data = Dict)

In [ ]:
# Confirm DataFrame was created successfully
Mars_pd.head()

### Step 4: Prepare Data for Analysis

Examine the data types that are currently associated with each column. If necessary, cast (or convert) the data to the appropriate `datetime`, `int`, or `float` data types.

  > **Hint** You can use the Pandas `astype` and `to_datetime` methods to accomplish this task.

In [ ]:
# Examine data type of each column
Mars_pd['ID'] = pd.to_numeric(Mars_pd.ID)
Mars_pd['Terrestrial_Date'] = pd.to_datetime(Mars_pd.Terrestrial_Date)
Mars_pd['Sol'] = pd.to_numeric(Mars_pd.Sol)
Mars_pd['LS'] = pd.to_numeric(Mars_pd.LS)
Mars_pd['Mars_Months'] = pd.to_numeric(Mars_pd.Mars_Months)
Mars_pd['Min_Temp'] = pd.to_numeric(Mars_pd.Min_Temp)
Mars_pd['Pressure'] = pd.to_numeric(Mars_pd.Pressure)

In [ ]:
# Change data types for data analysis
Mars_pd['ID'] = pd.to_object(Mars_pd.ID)
Mars_pd['Terrestrial_Date'] = pd.to_datetime64(Mars_pd.Terrestrial_Date)
Mars_pd['Sol'] = pd.to_int64(Mars_pd.Sol)
Mars_pd['LS'] = pd.to_int64(Mars_pd.LS)
Mars_pd['Mars_Months'] = pd.to_int64(Mars_pd.Mars_Months)
Mars_pd['Min_Temp'] = pd.to_float64(Mars_pd.Min_Temp)
Mars_pd['Pressure'] = pd.to_float64(Mars_pd.Pressure)

In [ ]:
# Confirm type changes were successful by examining data types again
Mars_pd.head()

### Step 5: Analyze the Data

Analyze your dataset by using Pandas functions to answer the following questions:

1. How many months exist on Mars?
2. How many Martian (and not Earth) days worth of data exist in the scraped dataset?
3. What are the coldest and the warmest months on Mars (at the location of Curiosity)? To answer this question:
    * Find the average the minimum daily temperature for all of the months.
    * Plot the results as a bar chart.
4. Which months have the lowest and the highest atmospheric pressure on Mars? To answer this question:
    * Find the average the daily atmospheric pressure of all the months.
    * Plot the results as a bar chart.
5. About how many terrestrial (Earth) days exist in a Martian year? To answer this question:
    * Consider how many days elapse on Earth in the time that Mars circles the Sun once.
    * Visually estimate the result by plotting the daily minimum temperature.

In [ ]:
# 1. How many months are there on Mars?

Math = Mars_pd['Mars_Months'].max()

print('There are ' + str(Math) + ' months in one Mars year.')

In [ ]:
# 2. How many Martian days' worth of data are there?
Martian_Days = len(pd.unique(Mars_pd['Sol']))
print('There are ' + str(Martian_Days) + " martian days worth of data.")

In [ ]:
# 3. What is the average low temperature by month?
mTemp = {}
for _ in range(0, int(Math)):
    mTemp[_] = Mars_pd[Mars_pd['Mars_Months'] == (1+_)]

MonthTempAvg = []
for _ in range(0, int(Math)):
    MonthTempAvg.append(mTemp[_]['Min_Temp'].mean())

print('The average low temperature by month is ' + str(sum(MonthTempAvg)/len(MonthTempAvg)))

In [ ]:
# Plot the average temperature by month
months = []
for _ in range(1, 13):
    months.append(_)

plt.plot(months, MonthTempAvg)
plt.xlabel('Mars Months')
plt.ylabel('Temperature')
plt.show()

In [ ]:
# Identify the coldest and hottest months in Curiosity's location
#Coldest Month
x = min(MonthTempAvg)
Coldest_Month = MonthTempAvg.index(x)

#Hottest Month
y = max(MonthTempAvg)
Hotest_Month = MonthTempAvg.index(y)


print('The Coldest month is: month', Coldest_Month,'at', x,". The Hottest month is: month", Hotest_Month, 'at', y, '.')

In [ ]:
#Plot bar chart for hottest month in Curiosity's Location
plt.figure(figsize=(10, 6))
plt.bar(coldest_month['Month'], coldest_month['Temperature'], color='blue', label='Coldest Month')
plt.bar(hottest_month['Month'], hottest_month['Temperature'], color='red', label='Hottest Month')
plt.xlabel('Month')
plt.ylabel('Temperature')
plt.title("Hottest and Coldest Months")
plt.ticks(rotation=45)
plt.legend
plt.show()

In [ ]:
# 4. Average pressure by Martian month
mPres = {}
for _ in range(0, int(Math)):
    mPres[_] = Mars_pd[Mars_pd['Mars_Months'] == (1+_)]
MonthPresAvg = []
for _ in range(0, int(Maths)):
    MonthPresAvg.append(mPres[_]['Pressure'].mean())

MonthPresAvg

In [ ]:
# Plot the average pressure by month
plt.plot(months, MonthPresAvg, kind='bar', color='green')
plt.xlabel('Month')
plt.ylabel('Average Pressure')
plt.title('Average Pressure by Month')
plt.show()

In [ ]:
# 5. How many terrestrial (earth) days are there in a Martian year?
print(Mars_pd[Mars_pd['LS'] == 0])
plt.plot(Mars_pd['Terrestrial_Date'], Mars_pd['LS'])
plt.xlabel('Earth Years')
plt.ylabel('Solar Longitude')
plt.show()

a = Mars_pd.iloc[925, 2] - Mars_pd.iloc[304, 2]
print('We can see the Solar Longitude is at 0 every ' + str(a) + ' days. This shows in the plot, with a repeating time period that looks slightly less than 2 years. ')

On average, the third month has the coldest minimum temperature on Mars, and the eighth month is the warmest. But it is always very cold there in human terms!

Atmospheric pressure is, on average, lowest in the sixth month and highest in the ninth.

The distance from peak to peak is roughly 1425-750, or 675 days. A year on Mars appears to be about 675 days from the plot. Internet search confirms that a Mars year is equivalent to 687 earth days.

### Step 6: Save the Data

Export the DataFrame to a CSV file.

In [ ]:
# Write the data to a CSV
Mars_pd.to_csv('../CSV_output/CSVData.csv')

In [ ]:
browser.quit()